[submodule "UrbanToyGraph"]
	path = UrbanToyGraph
	url = https://github.com/csebastiao/UrbanToyGraph.git
	branch = main
[submodule "spatial-centrality-pub"]
	path = spatial-centrality-pub
	url = https://github.com/juanfonsecaLS1/spatial-centrality-pub.git
	branch = main
[submodule "cityseer-api"]
	path = cityseer-api
	url = https://github.com/benchmark-urbanism/cityseer-api.git
	branch = dev
